extends ../layout

block content
  div.wrapper
    h2 Whoops!
    h3 You declined to sign your tax document. We cannot pay you until we have a signed tax document on file.
    h4 Please try again or contact support@cloudspokes.com for more info. 
  