
extends ../layout

block content
  div.wrapper
    h2 Signing Complete. Thank you!
    h3 Your tax form has been successfully signed and sent to our finance department.
    h4 Please close this window and refresh the previous window.