
extends ../layout

block content
  div.wrapper
    h2 Signing Complete. Thank you!
    h3 Your tax form has been successfully signed and sent to our finance department.
    h4 Please close this window and make sure you have updated your address info in the 'Account Details' section of the Account Settings. We apologize for the double entry and we are working on the integration process.