extends ../layout

block content
  div.wrapper
    div#container.rootColBig  
        img.logo(src="/images/cloudspokes-logo-hor.png")       
        div.clearFix
        h3 DocuSign your CloudSpokes tax form. We cannot pay you until we have a signed tax document on file.
        a(href='http://www.cloudspokes.com/account/payments') See this page for more info.
    div.clearFix
