extends ../layout

block content
  div.wrapper
    div#container.rootColBig  
        img.logo(src="/images/cloudspokes-logo-hor.png") 
        img.dsRoot(src="/images/docusign-logo.png",style="padding-left:300px;padding-top:25px")        
        div.clearFix
        h3 DocuSign your CloudSpokes tax form. 
        a(href='http://www.cloudspokes.com/account/payments') See this page for more info.
    div.clearFix
